<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - dotnet_projektuppgift</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dotnet_projektuppgift.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true">
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>

</head>
<body>
<header>
    <nav>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>