@model dotnet_projektuppgift.Models.Entities.MaintenanceSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MaintenanceSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentId" class ="form-control" asp-items="ViewBag.EquipmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntervalDays" class="control-label"></label>
                <input asp-for="IntervalDays" class="form-control" />
                <span asp-validation-for="IntervalDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastPerformed" class="control-label"></label>
                <input asp-for="LastPerformed" class="form-control" />
                <span asp-validation-for="LastPerformed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextDue" class="control-label"></label>
                <input asp-for="NextDue" class="form-control" />
                <span asp-validation-for="NextDue" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
